/* base.css mixins */
/* Mixin:layer() Parent element must have position:relative for this to work */
@mixin layer( $layer:1 ) {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index:($layer+1);
}