/* Font definitions */
$font-header: 'Arial', sans-serif !default;
$font-body: 'Arial', sans-serif !default;
/* Font scale */
$font-size-xs: 0.625rem !default;
$font-size-sm: 0.875rem !default;
$font-size: 1rem !default;
$font-size-md: 1.25rem !default;
$font-size-lg: 1.75rem !default;
$font-size-xl: 2.5rem !default;
$font-size-xxl: 3.75rem !default;