
.wpt-modal-snazzymaps {


  .wpt-modal-content {
 
  display:flex;
  flex-direction: row;
  overflow-x:hidden;
  flex-wrap: wrap;

  .snazzymap-style-item {
    width:23%;
    margin-right:1%;
    overflow:hidden;
    margin-bottom:1%;
    background:#ddd;
    box-sizing:border-box;
    border:1px solid #ccc;
    position:relative;

    

    .snazzymap-style-image {
      width: 100%;
      padding-bottom:100%;
      background-size:cover;
      background-color:#ddd;
      background-position: center center;
    }

    h4, button {
      opacity:0;
      transition:opacity 250ms ease-out;
      position:absolute;
      margin:0;
    }
    
    h4 {
      padding:1rem;
      z-index: 1;
      top:0;
      left:0;
      right:0;
      background:rgba(white,0.8);
      text-align:center;
    }
    
    button {
      width:80%;
      display:block;
      padding:0.5rem;
      z-index: 2;
      margin-top:50%;
      margin-left:50%;
      border-radius: 2rem;
      transform: translate(-50%,100%);
    }

    &:hover {
      background:#eee;
      border:1px solid #aae;

      h4,button {
        opacity:1;
      }
    }
  }
}


}


#wpt-snazzymaps-current
{
  height:300px;
  display:flex;
  flex-direction: row;
  background:white;
  width:600px;
  border:1px solid #ccc;
  margin-bottom:1rem;

  &.hidden {
    display:none;
  }

  .wpt-snazzymaps-current-detail
  {
    width:300px;
    padding:2rem;
    box-sizing:border-box;
  }


  .wpt-snazzymaps-current-img
  {
    height:300px;
    width:300px;
    background-size:cover;
    background-position:center center;
  }
}

