/*
 * Base SASS variables
 */


/* Breakpoints */
$break-mobile:        768px   !default;
$break-tablet:        992px   !default;
$break-desktop:       1200px  !default;
$break-large:         1440px  !default;

/* Colors */
$color-transparent:   'transparent' !default;
$color-black:         #000000 !default;
$color-gray:          #888899 !default;
$color-white:         #FFFFFF !default;
$color-red:           #FF2222 !default;
$color-green:         #22FF22 !default;
$color-blue:          #2222FF !default;

/* Named Colors */
$color-primary:       #007bff !default;
$color-secondary:     #9AFD13 !default;
$color-light:         #EEEEEE !default;
$color-dark:          #FF33CC !default;
$color-info:          #f303f2 !default;
$color-success:       #f393f2 !default;
$color-error:         #FF4444 !default;
$color-warning:       #FFCC44 !default;

/* Fonts */
$font-heading:        'Roboto', 'Helvetica Neue', sans-serif !default;
$font-body:           'Open Sans','Arial', sans-serif !default;
$font-heading-alt:    $font-heading !default;
$font-body-alt:       $font-body !default;
$font-mono:           'Monaco', Courier, monospace !default;

/* Font sizes */
$font-size:         16px !default;
$font-size-mobile:  14px !default;
$font-size-tablet:  16px !default;
$font-size-desktop: 16px !default;

/* Font sizes (1.333 modular scale) */
$font-size-1:  0.5625rem  !default;
$font-size-2:  0.750rem   !default;
$font-size-3:  1.000rem   !default;
$font-size-4:  1.333rem   !default;
$font-size-5:  1.777rem   !default;
$font-size-6:  2.370rem   !default;
$font-size-7:  3.160rem   !default;
$font-size-8:  4.213rem   !default;
$font-size-9:  5.618rem   !default;
$font-size-10: 7.4915rem  !default;

/* Text Sizes */
$font-size-body:  $font-size-3 !default;
$font-size-small: $font-size-2 !default;

/* Heading Sizes */
$font-size-h1:    $font-size-8 !default;
$font-size-h2:    $font-size-7 !default;
$font-size-h3:    $font-size-6 !default;
$font-size-h4:    $font-size-5 !default;
$font-size-h5:    $font-size-4 !default;
$font-size-h6:    $font-size-3 !default;

/* Font weights */
$font-weight-body:    400 !default;
$font-weight-heading: 100 !default;
