/* Fonts */
$font-heading:        'Roboto', 'Helvetica Neue', sans-serif;
$font-body:           'Open Sans','Arial', sans-serif;
$font-heading-alt:    $font-heading;
$font-body-alt:       $font-body;
$font-mono:           'Monaco', Courier, monospace;

/* Font sizes */
$font-size:         16px;
$font-size-mobile:  14px;
$font-size-tablet:  16px;
$font-size-desktop: 16px;

/* Font sizes (1.333 modular scale) */
$font-size-1:  0.5625rem;
$font-size-2:  0.750rem;
$font-size-3:  1.000rem;
$font-size-4:  1.333rem;
$font-size-5:  1.777rem;
$font-size-6:  2.370rem;
$font-size-7:  3.160rem;
$font-size-8:  4.213rem;
$font-size-9:  5.618rem;
$font-size-10: 7.4915rem;

/* Text Sizes */
$font-size-body:  $font-size-3;
$font-size-small: $font-size-2;