## IDE files
.sublimeproject
.sass-cache
## OS Files
[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?
.Trashes
## Theme files
!assets/dist/
assets/dist/*
assets/package/*
assets/node_modules/*
library/vendor/*
*/node_modules/*
*/vendor/*
node_modules/*
vendor/*
assets/vendor/*