## IDE files

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.sublimeproject

## OS Files

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

## Misc Files

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit
*.scssc

.sass-cache

assets/vendor/*
assets/dist/*
library/vendor/*
node_modules/*
assets/css/theme.css
