html 
{
  font-size: $font-size;

  @include mobile() { font-size: $font-size-mobile; }
  
  // Auto height to expand to content
  width:100%;
  height:auto;
  min-height: 100vh;
}

/**
 * #frame overtakes page viewport
 */
body 
{
  // Positioning
  position:relative;

  // Sizing
  width:100%;
  height:auto;
  min-height: 100vh;

  // Overflow
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;

  // Font smoothing
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Set defaulat font weight;
  font-weight: $font-weight-body;

  // Use flexbox
  display:flex;
  flex-direction: column;
}

header,main,footer 
{
  position:relative;
  z-index:0;
}

main 
{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display:flex;
  flex-direction: column;
  width:100%;
}


