nav.navbar 
{
  height:$navbar-height;
  transition: top 500ms $ease-out-quint;
  padding-left: calc(100vw - 100%); // prevents scrollbar alignment issues
  color:$color-black;
  position:relative;
  background: $color-light;
  top:0;


  a 
  {
    color:$color-black;
  }

  &.navbar-hidden 
  {
    top:-$navbar-height;
  }

  >.container,>.container-fluid 
  {
    padding-right:0;
    padding-left:0;
  }

  .navbar-brand
  {
    padding-left:0;
  }

  .navbar-toggler 
  {
    position:relative;
    outline:none;

    i {
      position:absolute;
      left:50%;
      top:50%;
      font-size:$font-size-4;
      transform: translate(-50%,-50%);
      transition: all 250ms $ease-out-quint;
    }

    i.fa-times {
      opacity:0;
      font-size:$font-size-5;
      font-weight:100;
    }
  }
  
  div#navbar-menu 
  {
    .navbar-mobile-header
    {
      display:none;
    }
  }
  
  @include mobile()
  {
    padding-left:3rem;
    padding-right:3rem;
    margin-left:0;

    .navbar-toggler 
    {
      z-index:10;
    }

    div#navbar-menu 
    {
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: flex-start;
      position:absolute;
      width:100vw;
      height:100vh;
      top:0;
      left:0;
      background: rgba($color-white,0.9);
      padding:2rem 3rem;
      transition: all 250ms $ease-in-quint;
      transform:translateY(-120%);

      .navbar-mobile-header
      {
        display:block;
        min-height:$navbar-height;
        margin-bottom:2rem;
      }

      ul.navbar-nav 
      {
        width:100%;

        li.nav-item 
        {

          a.nav-link 
          {
            font-size:$font-size-4;
            padding:1rem;
            margin-left:-1rem;

            &:hover 
            {
              background:black;
              color:white;
            }
          }
        }
      }
    }


    &.navbar-toggled 
    {
      div#navbar-menu 
      {
        transform:translateY(0);
        transition: all 250ms $ease-out-quint;
      }

      .navbar-toggler 
      {
        i {
          transform: translate(-50%,-50%) rotate(90deg);
        }
        
        i.fa-bars {
          opacity:0;
        }

        i.fa-times {
          opacity:1;
        }
      }
    }
  }

  

}







