main#page 
{
  width:100%;
  height:auto;

  &.clear-header
  {
    margin-top: $navbar-height;
  }

  @include mobile()
  {
    padding-left:3rem;
    padding-right:3rem;
  }
  
  >.container,>.container-fluid 
  {
    padding-right:0;
    padding-left:0;
  }

  article
  {
    display:flex;
    flex-direction:row-reverse;
    padding-top:2rem;

    #sidebar 
    {
      width:30%;
      //border:1px solid red;
    } 

    #sections
    {
      flex:1;
      padding-top:2rem;
      padding-right:2rem;
      section {
        
      }
    }

    @include tablet-down()
    {
      flex-direction:column-reverse;

      #sidebar 
      {
        margin-bottom:3rem;
        width:100%;

        .widget {
          margin-left:0;
          margin-right:0;
        }
      }
    }

    
  }
}
