

#wpt-settings 
{
  
  h1 {
    margin-bottom:2rem;
  }

  section 
  {
    border:1px solid #ccc;
    background:#eee;
    padding:2rem;

    .wpt-setting-row 
    {
      display:flex;

      .wpt-setting-label 
      {
        width:180px;

        small {
          display:block;
          margin-top:0.5rem;
        }
      }

      .wpt-setting 
      {
        flex:1;
      }
    }
  }
}