/* base.css colors */
$color-black: #000000 !default;
$color-white: #FFFFFF !default;

$color-light: #EEEEEE !default;
$color-dark: #333333 !default;
$color-info: #f303f2 !default;
$color-success: #f393f2 !default;
$color-error: #FF4444 !default;
$color-alert: #FFCC44 !default;

$color-primary: #F49DDA !default;
$color-secondary: #9AFD13 !default;



