html, body 
{
  width:100%;
  height:100vh;
}

/**
 * #frame overtakes page viewport
 */
body 
{
  // Apply font aliasing
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Bootstrap addition */
.container, .container-fluid
{
  &.no-padding {
    padding-left:0;
    padding-right:0;
  }
}