@import 'vars';

html, body 
{
  width:100%;
  height:100vh;
}

body {
  overflow:hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container, .container-fluid
{
  &.no-padding {
    padding-left:0;
    padding-right:0;
  }
}