@import 'vars';

nav.navbar 
{
  top:0;

  background-color: rgba($navbar-color, $navbar-opacity);

  height:$navbar-height;

  padding:0 2rem;

  a {
    color:$color-dark;
  }

  &.navbar-hidden 
  {
    top:-$navbar-height;
  }

  &.navbar-transparent
  {
    background-color:transparent;
  }

  &.navbar-light 
  {
    background-color: rgba($color-light, $navbar-opacity);
  }

  &.navbar-dark
  {
    background-color: rgba($color-dark, $navbar-opacity);
  }

  &.navbar-text-light 
  {
    .navbar-brand,.navbar-brand a,.navbar-text,ul.navbar-nav li.nav-item a.nav-link {
      color: $color-light;
    }
  }
 
  

}


