main#page 
{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content: flex-end;
  align-items: flex-start;
  background:$color-light;

  &.sidebar-right 
  {
    flex-direction: row-reverse;
  }

  &.page-left 
  {
    margin:0 auto 0 0;
  }

  &.page-right 
  {
    margin:0 0 0 auto;
  }
  
  @include mobile() {
    flex-direction: column-reverse !important;
  }
  
  & > aside {
    // Sidebar
    @import 'sidebar';

    @include mobile() 
    {
      width:100%;
    }
  }

  & > article {
    
    width:100%;
    min-height:100%;
    flex:1;


    & > header 
    {
      background-color:$color-light;
    }

    & > section#content
    {
      background-color:$color-light;
      @import 'content';
    }

    & > footer 
    {
      background-color:$color-light;
    }

  }
  
  &.clear-navbar 
  {
    padding-top:$navbar-height;
  }
}