/* Vars */
/* Mixins */
/* Mixin:layer() Parent element must have position:relative for this to work */
/* Basic Colors */
/* Named Colors */
/* Brand Colors */
/* Font definitions */
/* Font scale */
/* Named Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Easing Functions, example - transition: opacity 500ms $ease-cubic; */
/* Set root font size */
/* line 7, assets/scss/base.scss */
html {
  font-size: 16px; }
