/* Vars */
/* Parent element must have position:relative for this to work */
/* Basic Colors */
/* Named Colors */
/* Brand Colors */
/* Font definitions */
/* Named Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Easing Functions, example - transition: opacity 500ms $ease-cubic; */
