/* Vars */
/* Mixins */
/* Mixin:layer() Parent element must have position:relative for this to work */
/* Basic Colors */
/* Named Colors */
/* Brand Colors */
/* Font definitions */
/* Font scale */
/* Named Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Easing Functions, example - transition: opacity 500ms $ease-cubic; */
/* Set root font size */
/* line 7, assets/scss/base.scss */
html {
  font-size: 16px; }

/** GLOBAL COLORS */
/* line 4, assets/scss/templates/front.scss */
#splash {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  background: url(../../images/site/astro_splash.png) top center no-repeat;
  background-size: contain;
  position: relative; }
  /* line 13, assets/scss/templates/front.scss */
  #splash .agreement {
    padding-top: 660px;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding-bottom: 2rem; }
    /* line 21, assets/scss/templates/front.scss */
    #splash .agreement a {
      font-family: 'leaguegothic';
      text-transform: uppercase;
      font-size: 5rem;
      margin: 0 2rem;
      color: #4c3b7a;
      transition: color 250ms ease-out; }
      /* line 29, assets/scss/templates/front.scss */
      #splash .agreement a:hover {
        color: #fc6b6b;
        text-decoration: none; }
    /* line 35, assets/scss/templates/front.scss */
    #splash .agreement img.hover {
      position: absolute;
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out; }
  /* line 46, assets/scss/templates/front.scss */
  #splash .warning {
    color: #fff;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 6rem; }
    /* line 54, assets/scss/templates/front.scss */
    #splash .warning p {
      margin: 0 auto 2rem auto; }
  /* line 62, assets/scss/templates/front.scss */
  #splash #starfield {
    position: absolute;
    width: 800px;
    height: 800px;
    top: -100px;
    left: 200px;
    z-index: -10;
    background: url(../../images/site/astro_starfield.png) center center no-repeat;
    margin: 0 auto;
    transition-property: transform;
    transition-duration: 1s;
    animation-name: rotate;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0.5;
    background-blend-mode: color-dodge;
    background-size: cover; }
