
#wpt-add-googlefonts 
{
}

#TB_ajaxContent 
{


  .wpt-modal-googlefonts 
  {
    display:flex;
    flex-direction: column;
    height:100%;

    .wpt-modal-header {
      display:flex;
      flex-direction: row;
      align-items: center;
      padding:0.5rem 0;
        
      select {
        margin:0 1rem;
      }

      .wpt-font-categories {
        label
        {
          display:inline-block;
          margin-right:0.5rem;
        }
      }

      #wpt-font-sample {
        margin-left:0.5rem;
      }
    }

    .wpt-modal-content 
    {
      flex:1;
      overflow-y:overlay;
      padding-right:2rem;

      .wpt-font-list-item {

        display:flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        padding:1rem;
        margin-bottom:2px;
        background:#eee;

        

        .wpt-font-list-item-name 
        {
          font-size:1.25rem;
          width:250px;
          overflow:hidden;
          font-weight: bold;
          white-space: nowrap;
        }

        .wpt-font-list-item-panagram 
        {
          font-size:1.5rem;
        }

        a {
          display:inline-block;
          margin-left:auto;
        }
      }

    }
  }
}


.wpt-fonts 
{
  margin-bottom:1rem;

  .wpt-font 
  {
    .wpt-font-details 
    {
      padding:1rem;
      border:1px solid #ccc;
      display:flex;
      background:#fafafa;
      
      .wpt-font-family 
      {
        width:100px;
        font-weight:bold;
      }

      .wpt-font-variants
      {
        flex:1;
        label {
          display:inline-block;
          width:100px;
          margin-bottom:0.5rem;
        }
      }


      a.wpt-font-remove {
        margin-left:auto;
        color:#a00;
      }
    }
  }
}



