.wpt-search-wrapper 
{


  input.wpt-search 
  {
    
    &.is-querying
    {
      border:1px solid red;
    }
  }


  .wpt-search-results
  {
    max-height:450px;
    overflow-x:hidden;
    overflow-y:auto;
    overflow-y:overlay;
    width:100%;
    background:#eee;
    border:1px solid #ccc;
    box-shadow: 0 6px 18px 4px rgba(black,0.1);

    transition: opacity 250ms ease-out;

    .wpt-search-noresults 
    {
      padding:1rem;
    }
  }

}