



#TB_window {
  display:flex;
  flex-direction: column;
}

#TB_ajaxContent {
  flex:1;
  overflow: hidden;

  .wpt-modal-wrapper
  {
    display:flex;
    flex-direction: column;
    height:100%;

    .wpt-modal-header 
    {
      display:flex;
      flex-direction: row;
      align-items: center;
      padding:1rem 0;
    }

    .wpt-modal-content
    {
      flex:1;
      overflow-y:overlay;
      padding-right:2rem;
    }
  }
}