#wpt-settings 
{
  
  h1 {
    margin-bottom:2rem;
  }

  section 
  {
    border:1px solid #ccc;
    background:#eee;
    padding:2rem;
    margin-bottom:2rem;

    .wpt-setting-row 
    {
      display:flex;
      margin:1rem 0;

      .wpt-setting-label 
      {
        label {
          font-weight: 700;
        }

        width:180px;

        small {
          display:block;
          margin-top:0.5rem;
        }
      }

      .wpt-setting 
      {
        flex:1;

        flex-direction: row;
      }


      .wpt-setting-image 
      {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;;

        .wpt-setting-image-wrapper 
        {
          flex:3;
          min-height:540px;
          margin-right:1rem;
          position:relative;
          width:100px;
          height:100px;
          background:#ddd;
          border:3px dashed #999;
          color:#666;

          &.wpt-setting-image-wrapper-mobile
          {
            flex:1;
          }

          a.wpt-setting-image-upload {
            position: absolute;
            top:0;left:0;bottom:0;right:0;
            color:#666;
            display:flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            .dashicons-format-image 
            {
              transform:scale(2);
              opacity: 0.5;
            }
          }

          a.wpt-setting-image-delete 
          {
            display:none;
          }
        }
      }
    }
  }
}