

#wpt-settings 
{


  .wpt-setting 
  {
    display:flex;
    margin:1rem 0;

    @include mobile() {
      flex-direction: column;
    }


    .wpt-setting-label 
    {
      label {
        font-weight: 700;
      }

      width:180px;

      small {
        display:block;
        margin-top:0.5rem;
        margin-bottom:1rem;
      }
    }

    .wpt-setting-content 
    {
      flex:1;
    }

    input[type="radio"] {
      margin:0 0.5rem;
    }

    input[type="text"] {
      width:50%;

      @include mobile() {
        width:100%;
      }
    }

    textarea.widefat {
      width:90%;
    }

    &.wpt-setting-type-latlong {
      input[type="text"] {
        width:200px;
        display:inline-block;
        margin-right:0.5rem;
      }
    }
  }


  




  .wpt-settings-header 
  {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    border-bottom:1px solid #ccc;
    position:relative;

    .notice 
    {
      right:0;
      left:0;
      flex:1;
      position:absolute;
    }

    .wpt-settings-title
    {
      h1 {
        font-size:1.5rem;
        margin:0;

        .dashicons {
          transform:translateY(5px);
          opacity: 0.7;
          font-size:1.3rem;
        }
      }
      
    }

    ul.wpt-settings-menu
    {
      list-style:none;
      margin:0;
      padding:0;

      li {
        display:inline-block;

        a {
          display:block;
          text-decoration:none;
          padding:1rem;
          font-size:1rem;
        }

        &.active 
        {
          a {
            font-weight:700;
          }
        }
      }
    }
  }

  h1 {
    margin-bottom:2rem;
  }

  section 
  {
    border:1px solid #ccc;
    background:#eee;
    padding:2rem;
    margin-bottom:2rem;


    

    


    input.wpt-search 
    {
      width:100%;
    }
      
  }


  .wpt-setting-type-image 
  {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;;

    .wpt-setting-image-wrapper 
    {
      flex:3;
      min-height:540px;
      margin-right:1rem;
      position:relative;
      width:100px;
      height:100px;
      background:#ddd;
      border:3px dashed #999;
      color:#666;

      &.wpt-setting-image-wrapper-mobile
      {
        flex:1;
      }

      a.wpt-setting-image-upload {
        position: absolute;
        top:0;left:0;bottom:0;right:0;
        color:#666;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        .dashicons-format-image 
        {
          transform:scale(2);
          opacity: 0.5;
        }
      }

      a.wpt-setting-image-delete 
      {
        display:none;
      }
    }
  }



  

}

@import 'settings/packages';
@import 'settings/snazzymaps';
@import 'settings/search';
@import 'settings/fonts';


