header#header
{
  // Transition hide/show
  transition: transform 500ms $ease-out-quint;

  // minimum height
  min-height:32px;

  // header width
  width:100%;

  // default height
  height:100px;

  // prevents scrollbar alignment issues
  padding-left: calc(100vw - 100%);

  // background color
  background-color:white;

  // default position
  position:relative;

  // Layer on top
  z-index:100;



  // hidden header
  &.header-hidden 
  {
    transform:translateY(-100%);
  }

  // shy header
  &.header-shy 
  {
    transform:translateY(-100%);
  }

  // fixed header
  &.header-fixed 
  {
    top:0;
    position:fixed;
    z-index:999;
  }

  // navbar container
  .navbar-container
  {
    height:100%;
    padding-left:0;
    padding-right:0;
  }

  // bootstrap navbar
  nav.navbar
  {
    // match header size
    width:100%; height:100%;

    // override bootstrap defaults
    padding-top:0; padding-bottom:0;


    position:relative;


    .navbar-brand
    {
      margin-left:1rem;

      a 
      {
        text-decoration: none;
      }
    }

    .navbar-toggler
    {
      margin-right:1rem;
      color:$color-white;
      outline:none;
      border:none;
      justify-content: center;
      align-items: center;
      width:36px;
      height:36px;
      position:relative;

      &:focus
      {
        outline:none;
        border:none;
        box-shadow:none;
      }

      span
      {
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
      }

      .navbar-icon-close, .navbar-icon-open
      {
        transition:all 250ms $ease-out-quint;
        font-size:$font-size-4;
      }

      .navbar-icon-close 
      {
        opacity:0;
        transform:rotate(-90deg);
      }

      .navbar-icon-open
      {
        opacity:1;
        transform:rotate(0);
      }
    }


    &.navbar-toggled
    {
      color:$color-white;

      .navbar-icon-close 
      {
        opacity:1;
        transform:rotate(0);
      }

      .navbar-icon-open
      {
        opacity:0;
        transform:rotate(-90deg);
      }
    }


    #navbar-menu
    {
      z-index:100;

      @include tablet_down()
      {
        &.show, &.collapsing
        {
          position:absolute;
          left:0; right:0;
          top:100%;
        }
      }
    }


  }


}