#sidebar 
{
  float:right;
  position:relative;
  min-height:100%;
  box-sizing:border-box;
  will-change: min-height;
  
  .sidebar-inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }


  .widget 
  {
    box-sizing: border-box;
    padding:1rem;
    margin:1rem;
    background-color:$color-light;

    h4 {
      font-size:$font-size-3;
      margin-bottom:1rem;
    }

    ul {
      list-style:none;
      padding:0;
      margin:0;
    }
  }

  .widget_search 
  {
    fieldset {
      width:100%;
    }
  }

}