.wpt-map 
{
  display:block;
  width:100%;
  background-color:#eee;
  min-height:450px;
  position: relative;

  .map-error {
    position: absolute;
    left:0; top:0; right:0; bottom:0;
    
    display:flex;
    justify-content: center;
    align-items:center;
    color:red;
    outline:1px solid;
    background:rgba(red,0.1);
  }
}