.wpt-customize-control-slider
{ 
  $track_color: #ccc;
  $track_height: 12px;
  $thumb_color: #aaa;
  $thumb_border: darkblue;
  $thumb_width: 20px;
  $thumb_height: 20px;

  .wpt-customize-control-slider-wrapper
  {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  // outline:1px solid red;

  input[type="range"]
  {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 85%;
    // outline:1px solid red;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $track_height;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $track_color;
    // border-radius: 25px;
    border: 0px solid #000101;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid $thumb_border;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: 100%;
    background: $thumb_color;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -($thumb_height - $track_height)/2;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: darken($track_color,5%);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: $track_height;
    cursor: pointer;
    animate: 0s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: $track_color;
    border-radius: 25px;
    border: 0px solid #000101;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid $thumb_border;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: 100%;
    background: $thumb_color;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: $track_height;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: $thumb_width 0;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: $track_color;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  input[type=range]::-ms-fill-upper {
    background: $track_color;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid $thumb_border;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: 100%;
    background: $thumb_color;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: $track_color;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: $track_color;
  }

  span.wpt-customize-control-slider-value {
    display:inline-block;
    height:$thumb_height;
    // outline:1px solid red;
    flex:1;
    text-align: center;
  }

}